extends layout

block content
  h1 usando API para obtener datos de provincias
  form(name="localizador", method="post")
    div.input
      span.label Nombre provincia
      input(type='text', name='nombreProv')
    div.actions
      input(type='submit', value='Buscar')
    p=desc
  h3 Resultados: 
  table
    thead
      tr
        td Dato
        td Valor
    tbody
      tr
        td ID
        td=idProvincia
      tr
        td Nombre
        td=nombreProvincia
      tr
        td Latitud
        td=latitudProvincia
      tr
        td Longitud
        td=longitudProvincia
